.cbp_tmtimeline {
	margin: 30px 0 0 0;
	padding: 0;
	list-style: none;
	position: relative;

} 
.cbp_tmtimeline .post-lgimage
{
	height: 500px;
	
}
.cbp_tmtimeline .post-lgimage img
{
	width: 100%;
	height: 100%;


}

.cbp_tmtimeline .post-smimage img
{
	width: 100%;
	height: 100%;

}

/* The line */
.cbp_tmtimeline:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 3px;
	background:#FAFAFB;
	left: 20%;
	margin-left: px;
}

/* The date/time */
.cbp_tmtimeline > li .cbp_tmtime {
	display: block;
	width: 25%;
	padding-right: 100px;
	position: absolute;
	color: #737881;
}

.cbp_tmtimeline > li .cbp_tmtime span {
	display: block;
	text-align: right;
}

.cbp_tmtimeline > li .cbp_tmtime span:first-child {
	font-size: 10px;
	color: #737881;
}

.cbp_tmtimeline > li .cbp_tmtime span:last-child {
	font-size:15px;
	color: #737881
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
	color:#737881;
}

/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
	margin: 0 0 15px 25%;
	background: #ffffff;
	padding: 2em;
	font-size:15px;
	font-weight:400;
	line-height: 1.4;
	position: relative;
	border-radius: 0px;
	color: #737881;
	border: 1px solid #e6e6e6;
}
.cbp_tmtimeline > li .cbp_tmlabel p{
	font-size: 14px;
	margin-top: 10px;
	font-weight: 400;
	font-family:Open Sans;
}



.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
	background: #ffffff;
}

.cbp_tmtimeline > li .cbp_tmlabel h2 { 
	margin-top: 0px;
	padding: 0 0 10px 0;
	border-bottom: 1px solid rgba(255,255,255,0.4);
	font-size: 20px;
	font-weight: bold;
}		

/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;	
	pointer-events: none;
	border-right-color:#FFFFFF; /*#19202a;*/
	border-width: 10px;	
	top: 10px;
	position: absolute;


}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
	border-right-color: #FFFFFF;
}


/* The icons */
.cbp_tmtimeline > li .cbp_tmicon {
	width: 25px;
	height: 25px;
	speak: none;
	line-height: 20px;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	color: #FFFFFF;
	background:#23bab5;
	border-radius: 3%;
	box-shadow: 0 0 0 6px #FAFAFB;
	text-align: center;
	left: 20%;
	margin: 0 0 0 -12px;
	border:1px solid #ffffff;


}

.cbp_tmtimeline > li .cbp_tmicon > i
{
	font-size: 10px;
}


/* Example Media Queries */
@media screen and (max-width: 65.375em) {

	.cbp_tmtimeline > li .cbp_tmtime span:last-child {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 47.2em) {
	.cbp_tmtimeline:before {
		display: none;
	}

	.cbp_tmtimeline > li .cbp_tmtime {
		width: 100%;
		position: relative;
		padding: 0 0 20px 0;
	}

	.cbp_tmtimeline > li .cbp_tmtime span {
		text-align: left;
	}

	.cbp_tmtimeline > li .cbp_tmlabel {
		margin: 0 0 30px 0;
		padding: 1em;
		font-weight: 400;
		font-size: 95%;
	}

	.cbp_tmtimeline > li .cbp_tmlabel:after {
		right: auto;
		left: 20px;
		border-right-color: transparent;
		border-bottom-color: #FFFFFF;
		top: -20px;
	}

	.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
		border-right-color: transparent;
		border-bottom-color: #FFFFFF;
	}

	.cbp_tmtimeline > li .cbp_tmicon {
		position: relative;
		float: right;
		left: auto;
		margin: -55px 5px 0 0px;
	}

	.cbp_tmtimeline .post-lgimage
	{
		height: 200px;
		width: 100%;
	}
	.cbp_tmtimeline .post-lgimage img
	{
		width: 100%;
		height: 100%;
	}	
}

.main-timeline{
	width: 95%;
	margin: 0 auto;
	padding: 0 1.875em 3.125em;
}

@media screen and (min-width:1600px) {
.cbp_tmtimeline > li .cbp_tmtime {
	padding-right: 150px;
	}
}