@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
/*forgot password*/
.forgot-password .forgot-nav {
  color: #294e68;
  padding-top: 22px;
}
.forgot-password .forgot-nav .pull-left {
  padding-left: 20px;
}
.forgot-password .forgot-nav .pull-left img {
  height: 30px;
}
.forgot-password .forgot-nav .pull-left i {
  font-size: 25px;
}
.forgot-password .forgot-nav .pull-right {
  padding-left: 40px;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.forgot-password .forgot-nav .pull-right a{
    color: #294e68;
    text-decoration: none;
}
.forgot-password .forgot-nav ul:last-child {
  padding-right: 80px;
}
.forgot-password .forgot-content {
  background: url(../images/Background-1.jpg) no-repeat fixed;
  min-height: 850px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: 50px;
}
.forgot-password .forgot-content .form-control {
  box-shadow: none;
  border: 0px;
}
.forgot-password .forgot-content .input-group-addon {
  background: #FFFFFF;
  border: 0px;
}
.forgot-password .forgot-info {
  float: right;
  margin-top: 200px;
  color: #a9eeff;
  width: 300px;
  text-align: center;
}
.forgot-password .forgot-info h4 {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1px;
  padding-bottom: 30px;
}
.forgot-password .forgot-info p {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  padding-bottom: 30px;
  color: #c4f3ff;
}
.forgot-password .forgot-info .btn {
  margin-top: 20px;
  background: #7bb4da;
  border: 1px solid #a0cdeb;
  color: #FFFFFF;
  padding: 5px 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.forgot-password .footer {
  margin-bottom: 0px;
  padding-bottom: 8px;
  clear: both;
  font-family: "Lato";
  color: #919191;
}
.forgot-password .footer .pull-left {
  margin: 20px 90px;
}
.forgot-password .footer ul {
  margin: 20px 90px;
}
