
.thumbnail.tile {
display: block;
cursor: pointer;
-webkit-perspective: 0;
-webkit-transform-style: preserve-3d;
-webkit-transition: -webkit-transform .2s;
float: left;
width: 130px;
height: 130px;
text-align: center;
opacity: .75;
background-color: #2e8bcc;
border: 0;
}
.thumbnail {
display: block;
padding: 4px;
margin-bottom: 20px;
line-height: 1.428571429;
background-color: #fff;
border: 1px solid #ddd;
border-radius: 0;
-webkit-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
}

.thumbnail {
display: block;
padding: 4px;
margin-bottom: 20px;
line-height: 1.428571429;
background-color: #fff;
border: 1px solid #ddd;
border-radius: 0;
-webkit-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
}
a.fa-links {
color: #fff;
}

.thumbnail.tile h1, .thumbnail.tile h2, .thumbnail.tile h3, .thumbnail.tile h4, .thumbnail.tile h5, .thumbnail.tile h6 {
color: #fff;
-webkit-user-select: none;
}
.tile h1, .tile h2, .tile h3, .tile h4, .tile h5, .tile h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: "Segoe UI Light", "Helvetica Neue", "Segoe UI", "Segoe WP", sans-serif;
font-weight: 100;
line-height: 1.1;
color: inherit;
}
h1, .h1 {
font-size: 36px;
}
h1, h2, h3 {
margin-top: 20px;
margin-bottom: 10px;
}

h1 {
font-size: 2em;
margin: .67em 0;
}
thumbnail.tile{display:block;cursor:pointer;-webkit-perspective:0;-webkit-transform-style:preserve-3d;-webkit-transition:-webkit-transform.2s;float:left;width:130px;height:130px;text-align:center;opacity:.75;background-color:#2e8bcc;border:0}.thumbnail.tile h1,.thumbnail.tile h2,.thumbnail.tile h3,.thumbnail.tile h4,.thumbnail.tile h5,.thumbnail.tile h6{color:#fff;-webkit-user-select:none}.thumbnail.tile h2{font-size:1.75em;margin-top:-20px;margin-left:0}.thumbnail.tile h3,.thumbnail.tile h4{margin-top:-15px}.thumbnail.tile h1.tile-text,.thumbnail.tile h2.tile-text,.thumbnail.tile h3.tile-text,.thumbnail.tile h4.tile-text{margin-top:43.333333333333336px}.thumbnail.tile a:hover{text-decoration:none}.thumbnail.tileimg{border:0}.thumbnail.tile:hover{opacity:1}.thumbnail.tile.tile-double{width:260px}.thumbnail.tile.tile-blue{background-color:#2e8bcc}.thumbnail.tile.tile-green{background-color:#393}.thumbnail.tile.tile-red{background-color:#e51400}.thumbnail.tile.tile-yellow{background-color:#ffc40d}.thumbnail.tile.tile-orange{background-color:#f39c12}.thumbnail.tile.tile-pink{background-color:#e671b8}.thumbnail.tile.tile-purple{background-color:#7b4f9d}.thumbnail.tile.tile-lime{background-color:#8cbf26}.thumbnail.tile.tile-magenta{background-color:#ff0097}.thumbnail.tile.tile-teal{background-color:#00aba9}.thumbnail.tile.tile-turquoise{background-color:#1abc9c}.thumbnail.tile.tile-green-sea{background-color:#16a085}.thumbnail.tile.tile-emerald{background-color:#2ecc71}.thumbnail.tile.tile-nephritis{background-color:#27ae60}.thumbnail.tile.tile-peter-river{background-color:#3498db}.thumbnail.tile.tile-belize-hole{background-color:#2980b9}.thumbnail.tile.tile-amethyst{background-color:#9b59b6}.thumbnail.tile.tile-wisteria{background-color:#8e44ad}.thumbnail.tile.tile-wet-asphalt{background-color:#34495e}.thumbnail.tile.tile-midnight-blue{background-color:#2c3e50}.thumbnail.tile.tile-sun-flower{background-color:#f1c40f}.thumbnail.tile.tile-carrot{background-color:#e67e22}.thumbnail.tile.tile-pumpkin{background-color:#d35400}.thumbnail.tile.tile-alizarin{background-color:#e74c3c}.thumbnail.tile.tile-pomegranate{background-color:#c0392b}.thumbnail.tile.tile-clouds{background-color:#ecf0f1}.thumbnail.tile.tile-silver{background-color:#bdc3c7}.thumbnail.tile.tile-concrete{background-color:#95a5a6}.thumbnail.tile.tile-asbestos{background-color:#7f8c8d}

.tile h1, .tile h2, .tile h3, .tile h4,
.tile h5, .tile h6, .h1, .h2, .h3, .h4, .h5, .h6 {     font-family:
"Segoe UI Light", "Helvetica Neue", "Segoe UI", "Segoe WP", sans-
serif;     font-weight: 100;     line-height: 1.1;     color: inherit
}