{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
<div class="jumbotron">
	<h1>Change Password</h1>
</div>
<form action="{{url_for('changepassword')}}" method="POST">
  <div class="modal-body">

    <div class="container">
      <div class="row">      
        <div class="form-horizontal">
          <div class="form-group">
            <label class="col-md-2 control-label" style="margin-top:5px;">Enter Old Password</label>
            <div class="col-xs-3">
              <input type="password" class="form-control" name="oldpass" placeholder="Enter Old Password" autofocus/>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-2 control-label" >Enter New Password</label>
            <div class="col-xs-3">
              <input type="password" class="form-control" name="newpass" placeholder="Enter New Password">
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-2 control-label" >Re Enter New Password</label>
            <div class="col-xs-3">
              <input type="password" class="form-control" name="renewpass" placeholder="Re Enter New Password">
            </div>
          </div>
        </div>

      </div>
      <button type="submit" class="btn btn-success" >Update Password!</button>
    </div>
  </div>
</form>
{% else %}
<div class="jumbotron">
  <h1>You need to be logged in</h1>
</div>
{% endif %}
{% endblock %}
