{%extends "layout.html"%}
{%block body%}
{%if session.logged_in %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
<style>
table,th,td
{
  border:1px solid black;
}
</style>
<h1 style="text-align:center;">History for <span>{{entries[0][2]}}</span></h1>
<hr>
<div class="container">
<table class="table table-responsive" align="center">
	<thead>
		<tr>
			<th>Cause</th>
			<th>Medication provided</th>
			<th>Remarks</th>
		</tr>
	</thead>
	{% for entry in entries %}
	<tbody>
		<tr>
			<td>{{entry[3]}}</td>
			<td>
				{% for value in pharmacy %}
					{% for elements in value %}
					<p>{{elements[1]}} - {{elements[2]}}</p>
					{% endfor %}
				{% endfor %}
			</td>
			<td>{{entry[6]}}</td>
		</tr>
	</tbody>
	{% endfor %}
</table>
</div>
{% endif %}
{% endblock %}
