{% extends "layout.html"%}
{% block body %}
{% if session.logged_in %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
<script type="text/javascript">
  $(document).ready( function () {
    $('#item-table').DataTable();
} );
</script>
<script>
	function printDiv(divName) {
		var printContents = document.getElementById(divName).innerHTML;
		var originalContents = document.body.innerHTML;
		document.body.innerHTML = printContents;
		window.print();
		document.body.innerHTML = originalContents;
	}
</script>
<div class="container" id="printable">
	<div class="row">
		<div class="col-xs-offset-2 col-xs-8 col-sm-8 col-md-8 col-lg-8">
			
			<table class="table table-condensed table-responsive table-striped" id="item-table">
				<thead>
					<tr>
						<th>Doctor#</th>
						{% if session.temp==1 %}
						<th>Reg.No</th>
						{% endif %}
						{% if session.temp==2 %}
						<th>Emp ID</th>
						{% endif %}
						<th>Date</th>
						<th>Cause</th>
						<th>Medication</th>
						<th>Quantity</th>
						<th>Remarks</th>
					</tr>
				</thead>
				<tbody>
				{% for entry in entries%}
					<tr>
						<td>{{entry[0]}}</td>
						<td>{{entry[1]}}</td>
						<td title="dd/mm/yyyy">{{entry[6].strftime("%d/%m/%Y")}}</td>
						<td>{{entry[2]}}</td>
						<td>{{entry[3]}}</td>
						<td>{{entry[4]}}</td>
						<td>{{entry[5]}}</td>
					</tr>
				{% endfor %}					
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="wrapper" style="text-align:center;">
	<input class="btn btn-primary" type="button" onclick="printDiv('printable')" value="Print Your Prescription" />
</div>
{%endif%}
{%- endblock %}