{%extends "layout.html"%}
{%block body%}
{% if session.logged_in and session.temp==4%}
<div class="container">
	<div class="row">
		<form action="{{url_for('updateinventory')}}" method="post">
		<table class="table ">
			<thead>
				<tr>
					<th style="text-align:center;">RegNo/EmpID</th>
					<th style="text-align:center;">Prescription</th>
					<th style="text-align:center;">Resolve Status</th>
				</tr>
			</thead>
			<tbody>
			{% set i=0 %}
			{%for entry in entries%}
				<tr>
					<td style="text-align:center;width:100px;"><input type="number" value="{{entry[1]}}" name="Regno{{i}}" readonly=""></td>
					
					<td style="text-align:center;line-height:10px;">
						{% for item in data[i] %}
						<p style="border-bottom:0.015em solid black;">
						{{ item[1] }}{{ ' - ' }}{{ item[2] }}</p><br>
						{% endfor %}
					</td>
					
					<td style="text-align:center;width:100px;"><button type="submit" class="btn btn-success" value="btn{{i}}" name="btn">Resolve This <span style="font-size:15px;" class="glyphicon glyphicon-ok"></span></button></td>
				</tr>
				{% set i=i+1 %}
			{%endfor%}
			</tbody>
		</table>
	</form>
	</div>
</div>
{% else %}
<div class="jumbotron">
	<h1>You have to be Authorized.</h1>
</div>
{%endif%}

{%endblock%}