{% extends "layout1.html" %}
{% block body %}
{% if session.logged_in %}
 <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
<h1 style="text-align:center;">Employee Profile</h1>
<div class="clearfix visible-xs hidden-print"></div>
<div class="col-xs-1 col-sm-1 col-md-1"></div>
<div class="col-xs-12 col-sm-9 col-md-10">
  <br>
    <form action="{{url_for('employeeinfo')}}" method="post"> 
    {% for entry in entries %}
  <div class="form-horizontal" name="form_profile" role="form" >
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <legend>My Profile</legend>
 {%set fullname=entry.LastName+' '+entry.FirstName+' '+entry.MiddleName%} 
      <div class="form-group">
        <label for="inputName" class="col-sm-4">Full Name</label>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
          <input type="text" name="name" id="inputName" class="form-control input-sm" value="{{fullname}}" required="required"  title="only alphabets" placeholder="Full name as on ID card">
        </div>
      </div>
      <div class="form-group">
        <label for="inputRegistration_number" class="col-sm-4  ">Registration Number</label>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
          <input type="text" name="registration_number" id="inputRegistration_number" readonly class="form-control input-sm" value="{{entry.RegNo}}" required="required" title="" placeholder="First year roll number">
        </div>
      </div>
      <div class="form-group">
        <label for="inputRoll_number" class="col-sm-4  ">Occupation</label>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
          <input type="text" name="roll_number" id="inputRoll_number" class="form-control input-sm" value="{{entry.Occupation}}" required="required" title="">
        </div>
      </div>
      <div class="form-group">
        <label for="inputGender" class="col-sm-4  ">Gender</label>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
          <select name="gender" id="inputGender" class="form-control input-sm">
            <option value="">-- Select One --</option>
            {% if entry.gender=='Male'%}
            <option value="Male" selected>Male</option>
            <option value="Female" >Female</option>
            {% elif entry.gender=='Female'%}
            <option value="Male" >Male</option>
            <option value="Female" selected>Female</option>
            {% endif %}
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="inputDob" class="col-sm-4  ">Date of Birth</label>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
          <input type="datetime" name="dob" id="inputDob" class="form-control input-sm" value="{{entry[6]}}" required="required" title="">
        </div>
      </div>

    <legend>Contact Details</legend>
    <div class="form-group">
     <label for="inputEmail" class="col-sm-4  ">Email Id</label>
     <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
      <input type="email" name="email" id="inputEmail" class="form-control input-sm" value="{{entry.email}}" required="required" rel="tooltip" title="Registered email ID" placeholder="Valid email ID">

    </div>
    </div>

  <div class="form-group">
    <label for="inputPhone_number" class="col-sm-4  ">Phone No.</label>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
      <input type="text" name="phone_number" id="inputPhone_number" class="form-control input-sm" value="{{entry.Phonenumber}}" required="required" title="">

    </div>
  </div>
  <div class="form-group">
  <label for="inputEmergency_contact" class="col-sm-4  ">Emergency Contact</label>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
     <input type="text" name="emergency_contact" id="inputEmergency_contact" class="form-control input-sm" value="{{entry.Phonenumber}}" required="required" title="" placeholder="Parent phone number">
   </div>
 </div>
</div>

 <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
  <legend> Stay Details</legend>
  <div class="form-group">
    <label for="inputHostel" class="col-sm-4  ">Location</label>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
     <select name="hostel" id="inputHostel" class="form-control input-sm">
       <option value="">-- Select One --</option>
       <option value="day">Day Scholar</option>
       <option value="1">Azad Hall (1st Block)</option>
       <option value="2">Bose Hall (2nd Block)</option>
       <option value="3">Ambedkar Hall (3rd Block)</option>
       <option value="4">Babha Hall (4th Block)</option>
       <option value="5">Gandhi Hall (5th Block)</option>
       <option value="6">Gokhale Hall (6th Block)</option>
       <option value="7">Radhakrishnan Hall (7th Block)</option>
       <option value="8">Raman Hall (8th Block)</option>
       <option value="9">Nehru Hall (9th Block)</option>
       <option value="10">Patel Hall (10th Block)</option>
       <option value="11">Tagore Hall (11th Block)</option>
       <option value="12">Viswesvraya Hall (12th Block)</option>
       <option value="13">Rajendra Prasad Hall (13th Block)</option>
       <option value="14">Vikram Sarabhai Hall (14th Block)</option>
       <option value="1k">1K Hall of Residence</option>
       <option value="1.8k">1.8K Ultra Mega Hostel</option>
       <option value="dasa">International Student Hall</option>
       <option value="ph">Priyadarshini Hall (LH-PH)</option>
       <option value="sh">Sarojini Hall(LH-SH)</option>
       <option value="lha">New Ladies Hostel - A (New LH-A)</option>
       <option value="lhb">New Ladies Hostel - B (New LH-B)</option>
       <option value="lhc">New Ladies Hostel - C (New LH-C)</option>
     </select>
   </div>
 </div>
 <div class="form-group">
   <label for="inputRoom_number" class="col-sm-4  ">Room No.</label>
   <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
    <input type="text" name="room_number" id="inputRoom_number" class="form-control input-sm" value="" required="required" title="">
  </div>
</div>
</div>
</div>
</div>
<div class="col-xs-1 col-sm-1 col-md-1"></div>
<br>
<div class="form-group">
  <div class="col-sm-offset-3 col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
    <button type="submit" id="submit_profile" class="btn btn-block btn-lg btn-success"> Update my profile</button>
  </div>
</div>

</form>   
    {% endfor %}
{%else%}
<h1>If you're an employee, login as employee to view details</h1>
{% endif %}
{% endblock %}

