{% extends "layout.html" %}
{% block body %}
<div class="jumbotron">
	<h1>Reset Your Password</h1>
</div>
{% if values %}
{% for value in values %}
<p>{{value}}</p>
{% endfor %}
{% endif %}
<form action="{{url_for('forgetpassword')}}" method="POST">
        <div class="modal-body">
          
            <div class="container">
              <div class="row">      
              <div class="form-horizontal">
                  <div class="form-group">
                  <label class="col-md-2 control-label" style="margin-top:5px;">Enter Regno</label>
                  <div class="col-xs-3">
                    <input type="text" class="form-control" name="regno" placeholder="Enter regno" autofocus/>
                  </div>
                  </div>
                  
                  <div class="form-group">
                  <label class="col-md-2 control-label" >Enter email</label>
                  <div class="col-xs-3">
                    <input type="email" class="form-control" name="email" placeholder="Enter Your Email">
                  </div>
                  </div>
                  </div>
                  </div>
                  <button type="submit" class="btn btn-success" >Reset!</button>
              </div>
        </div>
        </form>
{% endblock %}
