<!doctype html>
<title>Dispensary Management System</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style1.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/jquery-ui-1.10.4.custom.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/jquery.dataTables.css') }}">
<script src="{{ url_for('static', filename='js/jquery-1.10.2.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/jquery.dataTables.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/jquery-ui-1.10.4.custom.js') }}" type="text/javascript"></script>
<div class=header-section>
	<a href="/"><img src="{{url_for('static',filename='images/logo_nitw.png')}}" alt="NITWarangal">
		<img src="{{url_for('static',filename='images/loginlogo.png')}}" alt=""></a>

		<ul class="menu">
			<li><a href="/">Home</a></li>
			<li><a href="/register">Register</a></li>
			{% if not session.logged_in %}
			<li><a href="/login">Login</a></li>
			{% endif %}
			{% if session.temp==1 %}
			<li><a href="/student">Profile</a></li>
			{% endif%}
			{% if session.temp==2 %}
			<li><a href="/employee">Profile</a></li>
			{% endif%}
			{% if session.temp==3 %}
			<li><a href="/prescription">Prescription</a></li>
			{% endif%}
			{% if session.temp==4 %}
			<li><a href="/inventory">Inventory</a></li>
			{% endif%}
			{% if session.logged_in %}
			<li><a href="/logout">Logout</a></li>
			{% if error %}
			<p class=error><strong>Error:</strong> {{ error }}
				{% endif %}
				{% endif %}
			</ul>
		</div><!--end of header -section-->
		<!-- <h1>Dispensary Management System</h1> -->
		{% for message in get_flashed_messages() %}
		<div class="bg-info" style="text-align:center;height:30px;font-size:20px;vertical-align:center;">{{ message }}</div>
		{% endfor %}
		{% block body %}{% endblock %}
		{% extends "footer.html" %}