{%extends "layout.html"%}
{%block body%}
{%if session.logged_in and session.temp==3%}
<div class="container">
	<div class="row">
		<table class="table table-condensed table-responsive">
			<thead>
				<tr>
					<th>DoctorNo</th>
					<th>Cause</th>
					<th>Medicine</th>
					<th>Quantity</th>
					<th>Remarks</th>
					<th>Date</th>
				</tr>
			</thead>
			<tbody>{%set i=0%}
			{%for item in entries%}
				<tr>
					<td>{{item[0]}}</td>
					<td>{{item[2]}}</td>
					<td>{{'|'}}
						{%for entry in data[i]%}
						{{entry[1]}} {{'|'}}
						{%endfor%}
					</td>
					<td>{{'|'}}
						{%for entry in data[i]%}
						{{entry[2]}} {{'|'}}
						{%endfor%}</td>
					<td>{{item[5]}}</td>
					<td>{{item[6].strftime("%d/%m/%Y")}}</td>
				</tr>
				{%set i=i+1%}
			{%endfor%}
			</tbody>
		</table>
	</div>
</div>
{%else%}
<div class="jumbotron">
	<h1>Access Denied</h1>
</div>
{%endif%}
{%endblock%}