{% extends "layout.html" %}
{% block body %}
<script>
     $(function() {
      var j = $('#jvalue').attr("value");
      while(j) {
      $( "#datepicker"+j ).datepicker({ dateFormat: 'dd/mm/yy' });
      --j;
      };
    });
  </script>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
<style type="text/css">
    	.row{
		    margin-top:40px;
		    padding: 0 10px;
		}
		.clickable{
		    cursor: pointer;   
		}

		.panel-heading div {
			margin-top: -18px;
			font-size: 15px;
		}
		.panel-heading div span{
			margin-left:5px;
		}
		.panel-body{
			display: none;
		}
.panel.panel-primary > .panel-heading{
	color:#fff !important;
	background: #428bca;
	border-top: 1px solid #23bab5;	
}
</style>

{% if not session.logged_in %}
<div class="jumbotron">
  <h1>You have to be logged in as Pharmacist.</h1>
</div>
{% if error %}
<p class=error><strong>Error:</strong> {{ error }}
{% endif %}
{% else %}
  <form action="{{url_for('insert')}}" method="post">
  {%set i=0 %}
  {%set j=0 %}
      <div class="panel panel-primary">
      		<div class="panel-heading">
                <h1 class="panel-title" style="text-align:center;font-weight:300%;font-size:40px;">Inventory Items</h1>
                <div class="pull-right">
                <span class="" data-toggle="tooltip" title="Toggle table filter"><i class="glyphicon glyphicon-filter"></i></span>
                </div>
            </div>
    <table class="item-table table table-hover" id="dev-table" >
			<thead>
				<tr>
					<th>Serial Number</th>
					<th>Name</th>
					<th>Quantity</th>
					<th>Batch Number</th>
					<th>Manufacture Date</th>
					<th>Expiry</th>
					<th>Update</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
  {%if entries|length>0 %}
  {% for entry in entries%}
  {%set i=i+1 %}
  {%set j=j+1 %}
<tr><td><input type="number" value="{{entry[0]}}" name="Sno{{i}}"></td>
<td><input type="name" value="{{entry[1]}}" name="Name{{i}}"></td>
<td><input type="number" value="{{entry[2]}}" name="qty{{i}}"></td>
<td><input type="number" value="{{entry[3]}}" name="bno{{i}}"></td>
<td><input type="text"  value="{{entry[4].strftime('%d/%m/%Y')}}" pattern="\d{1,2}/\d{1,2}/\d{1,4}" name="mfgdate{{i}}" id="datepicker{{j}}" data-toggle="tooltip" title="dd/mm/yyyy"></td>
{%set j=j+1%}
<td><input type="text"  value="{{entry[5].strftime('%d/%m/%Y')}}" pattern="\d{1,2}/\d{1,2}/\d{1,4}" name="expdate{{i}}" id="datepicker{{j}}" data-toggle="tooltip" title="dd/mm/yyyy"></td>
<td><input type="submit" value="update{{i}}" name="btn"></td>
<td><input type="submit" value="delete{{i}}" name="btn"></td><br>
</tr>
{% endfor %}
{% endif %}
<input type="hidden" value="{{entries|length*2+2}}" id="jvalue">
</tbody>
</table >
</div>



<div class="container">
<div class="row">
	<div class="col-md-10 col-md-offset-3">
		<div class="form-horizontal" role="form">
    		<fieldset>
    			<legend>Insert new Inventory Item</legend>
    				<div class="form-group">
            			<label class="col-sm-2 control-label" for="serialNumber">S.No:</label>
            			<div class="col-sm-4">
            				<input type="number" placeholder="Serial Number" class="form-control" name="Sno">
            			</div>
            		</div>
            		<div class="form-group">
            			<label class="col-sm-2 control-label" for="medicineName">Name:</label>
            			<div class="col-sm-4">
            				<input type="text" placeholder="Name of the item" class="form-control" name="Name">
            			</div>
            		</div>
            		<div class="form-group">
            			<label class="col-sm-2 control-label" for="quantity">Quantity:</label>
            			<div class="col-sm-4">
            				<input type="number" placeholder="Quantity" class="form-control" name="qty">
            			</div>
            		</div>
            		<div class="form-group">
            			<label class="col-sm-2 control-label" for="batchNumber">Batch Number:</label>
            			<div class="col-sm-4">
            				<input type="number" placeholder="Quantity" class="form-control" name="bno">
            			</div>
            		</div>
            		<div class="form-group">
            			<label class="col-sm-2 control-label" for="mfgDate">Manufacturing Date:</label>
            			<div class="col-sm-4">
            				<input type="text" placeholder="DD/MM/YYYY" class="form-control" name="mfgdate" id="datepicker{{(entries|length)*2+1}}"  data-toggle="tooltip" title="dd/mm/yyyy">
            			</div>
            		</div>
            		<div class="form-group">
            			<label class="col-sm-2 control-label" for="expDate">Expiry Date:</label>
            			<div class="col-sm-4">
            				<input type="text" placeholder="DD/MM/YYYY" class="form-control" name="expdate" id="datepicker{{(entries|length)*2+2}}">
            			</div>
            		</div>

          			<div class="form-group">
            			<div class="col-sm-5 col-sm-offset-1">
              				<div class="pull-right">
                				<input type="submit" class="btn btn-default" name="btn" value="Cancel">
                				<input type="submit" class="btn btn-primary" name="btn" value="insert">
              				</div>
            			</div>
          			</div>
        </fieldset>
      </form>

    </div><!-- /.col-lg-12 -->
</div><!-- /.row 
</div>  <!--  /.container -->
</div>
</div>
</form>
<br><br>

{% endif %}
{% endblock %}
