{% extends "layout.html" %}
{% block body %}
<script>
  $(function() {
    var j = $('#jvalue').attr("value");
    while(j) {
      $( "#datepicker"+j ).datepicker({
       dateFormat: 'dd/mm/yy',
       changeMonth: true,
       changeYear: true,
       yearRange: '-100:+25'
     });
      --j;
    };
  });
</script>

<script type="text/javascript">
  $(document).ready( function () {
    var table=$('#item-table').DataTable({
     "iDisplayLength":5,
     "sPaginationType": "full_numbers",
     "oLanguage": {"sSearch": "Filter: "},
     "lengthMenu": [[5,10, 25, 50, -1], [5,10, 25, 50, "All"]]
   });
  } );
</script>
<style>
  table,th,td{
    border:1px solid black;
  }
  br{
    display: none;
  }
</style>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">

{% if not session.logged_in %}
<div class="jumbotron">
  <h1>You have to be logged in as Pharmacist.</h1>
</div>
{% if error %}
<p class="bg-danger"><strong>Error:</strong> {{ error }}
  {% endif %}
  {% else %}
  <hr>
  <div class="row">
    <div class="col-md-8">
      <div class="col-xs-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <h1 style="text-align:center;">Pharmacy Inventory</h1>
        <form action="{{url_for('updel')}}" method="post">
          {%set i=0 -%}
          {%set j=0 -%}
          <div class="panel panel-primary">
            <table class="table table-condensed table-responsive table-striped" id="item-table">
              <thead>
                <tr>
                 <th>#S.No</th>
                 <th>Name of Item</th>
                 <th>Quantity</th>
                 <th>Batch Number</th>
                 <th>Manufacture Date</th>
                 <th>Expiry Date</th>
                 <th style="font-size:11px;"><strong><b>Update</b></strong></th>
                 <th style="font-size:11px;"><strong><b>Delete</b></strong></th>
               </tr>
             </thead>
             <tbody align="center">
              {%if entries|length>0 -%}
              {% for entry in entries -%}
              {%set i=i+1 %}
              {%set j=j+1 -%}
              <tr>
                <td><input type="number" value="{{entry[0]}}" name="Sno{{i}}" class="form-control" style="font-size:13px;" readonly=""></td>
                <td><input type="name" value="{{entry[1]}}" name="Name{{i}}" class="form-control" style="font-size:13px;"></td>
                <td><input type="number" value="{{entry[2]}}" name="qty{{i}}" class="form-control" style="font-size:13px;"></td>
                <td><input type="number" value="{{entry[3]}}" name="bno{{i}}" class="form-control" style="font-size:13px;" readonly=""></td>
                <td><input type="text"  value="{{entry[4].strftime('%d/%m/%Y')}}" pattern="\d{1,2}/\d{1,2}/\d{1,4}" name="mfgdate{{i}}" id="datepicker{{j}}" data-toggle="tooltip" title="dd/mm/yyyy" class="form-control" style="font-size:13px;"></td>
                {%set j=j+1 -%}
                <td><input type="text"  value="{{entry[5].strftime('%d/%m/%Y')}}" pattern="\d{1,2}/\d{1,2}/\d{1,4}" name="expdate{{i}}" id="datepicker{{j}}" data-toggle="tooltip" title="dd/mm/yyyy" class="form-control" style="font-size:13px;"></td>
                <td><button type="submit" value="update{{i}}" name="btn1" class="btn btn-sm btn-primary"><span style="font-size:15px;"class="glyphicon glyphicon-edit"></span></button></td>
                <td><button type="submit" value="delete{{i}}" name="btn1" class="btn btn-sm btn-danger"><span style="font-size:15px;"class="glyphicon glyphicon-remove"></span></button></td><br>
              </tr>
              {% endfor -%}
              {% endif -%}
              <input type="hidden" value="{{entries|length*2+2}}" id="jvalue">
            </tbody>
          </table >
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-3 col-md-offset-0">
    <form action="{{url_for('insert')}}" method="post">
      <div class="form-horizontal" role="form" >
        <fieldset>
          <h1>Add New Item</h1>
          <div class="form-group">
              <input type="number" placeholder="Serial Number" class="form-control" value="{{entries|length+1}}" name="Sno" readonly="">
          </div>
          <div class="form-group">
              <input type="text" placeholder="Name of the item" class="form-control" name="Name">
          </div>
          <div class="form-group">
              <input type="number" placeholder="Quantity" class="form-control" name="qty" min=0>
          </div>
          <div class="form-group">
              <input type="number" placeholder="Batch No" class="form-control" name="bno" min=0>
          </div>
          <div class="form-group">
              <input type="text" placeholder="Manufacturing Date DD/MM/YYYY" class="form-control" name="mfgdate" id="datepicker{{(entries|length)*2+1}}"  data-toggle="tooltip" title="dd/mm/yyyy">
          </div>
          <div class="form-group">
              <input type="text" placeholder="Expiry Date DD/MM/YYYY" class="form-control" name="expdate" id="datepicker{{(entries|length)*2+2}}">
          </div>
          <div class="form-group">
              <div class="pull-right" style="margin: 0px auto; width: 100%;">
                <input type="submit" class="btn btn-primary" name="btn" value="Insert">
                <input type="submit" class="btn btn-default" name="btn" value="Cancel">
              </div>
          </div>
        </fieldset>
      </div>
    </form>
  </div>
</div>
{% endif %}
{% endblock %}
