{% extends "layout.html" %}
{% block body %}
   <script>
    $(function() {
      $( "#datepicker" ).datepicker();
    });
  </script>
  <div class="col-md-5">
    <form action="{{ url_for('add_user') }}" method=post class=add-entry>
      <dl>
        <dt>Sno:
        <dd><input type=text size=30 name=Sno>
        <dt>RegNo:
        <dd><input type=text size=30 name=RegNo>
        <dt>First Name:
        <dd><input type=text size=30 name=FirstName>
        <dt>Middle Name:
        <dd><input type=text size=30 name=MiddleName>
        <dt>Last Name:
        <dd><input type=text size=30 name=LastName>
        <dt>Blood Group:
        <dd><input type=text size=30 name=BloodGroup>
        <dt>Date of Birth:
        <dd><input type=text size=30 name=DateOfBirth id="datepicker">
        <dt>Age:
        <dd><input type=text size=30 name=Age>
        <dt>Type:
        <dd><input type=text size=30 name=Type>
        <dt>Phone Number:
        <dd><input type=text size=10 name=PhoneNumber>
        <!-- Limiting the phone number to 10 digit ph. no's -->
        <dt>Address:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dt>Email:
        <dd><input type=email size=100 name=email>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  </div>
  <div class="col-md-5">
  <ul class=entries>
    <h3>Here are the list of Entries / Next In Line Patients</h3>
  {% for entry in entries %}
    <li><h2>{{ entry.title }}</h2>{{ entry.text|safe }}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
  </div>
{% endblock %}