{%extends "layout.html"%}
{%block body%}
{%if session.logged_in==true %}
{% if session.temp==2 %}
<div class="container">
	<div class="row">
		<div class="form-horizontal" role='form'>
			<form action="update_dependency" method="POST">
				<table class="table table-condensed table-responsive">
					<thead>
						<tr>
							<!-- <th class="col-xs-1">#</th> -->
							<th>Name</th>
							<th>Date of Birth</th>
							<th>Age</th>
							<th>Gender</th>
							<th>Relation</th>
						</tr>
					</thead>
					{%set k=0%}
					<tbody >
					{%for entry in entries%}
						<tr>
							<!-- <td class="col-xs-1"><input value="{{k}}" type="number" class="form-control"></td> -->
							<td><input value="{{entry[1]}}" type="text" class="form-control" name="name{{k}}"></td>
						
							<td><input type="text" class="form-control" value="{{entry[2].strftime("%d/%m/%Y")}}" name="dob{{k}}"></td>
							<td><input type="text" class="form-control" value="{{age[k]}}" readonly></td>
							<td>
							{%set selM=''%}
							{%set selF=''%}
								<select class="form-control" name="gender{{k}}">
								{%if entry[3]=="Male"%}
								{%set selM='selected'%}
								{%elif entry[3]=="Female"%}
								{%set selF='selected'%}
								{%endif%}
									<option value="Male" {{selM}}>Male</option>
									<option value="Female" {{selF}}>Female</option>
								</select>
							</td>
							<td>
								<select class="form-control" name="rel{{k}}">
										<option>Select Gender</option>
								{%set x=['Father','Mother','Husband','Wife','Son','Daughter']%}
								{%for i in range(0,x|length)%}
								{% if entry[4]==x[i]%}
								<option value="{{entry[4]}}" selected>{{x[i]}}</option>
								{% else %}
								<option value="{{x[i]}}" >{{x[i]}}</option>
								{%endif%}
								{%endfor%}
								</select>
							</td>
							{%set k=k+1%}
							{%endfor%}
							<td><button class="btn btn-primary" name="btn" value="update{{k}}"><span class="glyphicon glyphicon-edit"></span></button></td>
						</tr>
					</tbody>
					<input type="hidden" value="{{entries|length}}" name="numofrows">
				</table>
			</form>
		</div>
	</div>
</div>
{%else%}
<h1>Access Denied! Please contact webmaster</h1>
{%endif%}
{%else%}
<h1>Access Denied! Please contact webmaster</h1>
{%endif%}
{%endblock%}