{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
<script>
$(function() {
  $( "#datepicker" ).datepicker({
    dateFormat: 'dd/mm/yy',
       changeMonth: true,
       changeYear: true,
       yearRange: '-100:+0'
    });
});
</script>
<div class="jumbotron">
<h1 style="text-align:center;">Student Profile</h1>
<hr>
<form action="{{url_for('studentinfo')}}" method="post"> 
<div class="container">
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12">
    {% for entry in entries %}
      <div class="form-horizontal" name="form_profile" role="form" >
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <legend>My Profile</legend>
            <div class="form-group">
              <label for="inputName" class="col-sm-4">Full Name</label>
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 ">
                <input type="text" name="lname" id="inputName" class="form-control input-sm" value="{{entry[4]}}" required="required"  title="only alphabets" placeholder="Last Name">
              </div>
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 " style="margin-left:-25px">
                <input type="text" name="fname" id="inputName" class="form-control input-sm" value="{{entry[2]}}" required="required"  title="only alphabets" placeholder="First Name">
              </div>
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 " style="margin-left:-25px">
                <input type="text" name="mname" id="inputName" class="form-control input-sm" value="{{entry[3]}}"  title="only alphabets" placeholder="Middle Name">
              </div>
            </div>
            <div class="form-group">
              <label for="inputRegistration_number" class="col-sm-4  ">Registration Number</label>
              <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
                <input type="text" name="registration_number" id="inputRegistration_number" readonly class="form-control input-sm" value="{{entry[1]}}" required="required" title="" placeholder="First year roll number">
              </div>
            </div>
            <div class="form-group">
              <label for="inputRoll_number" class="col-sm-4  ">Roll Number</label>
              <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
                <input type="text" name="roll_number" id="inputRoll_number" class="form-control input-sm" value="{{entry[18]}}" required="required" title="">
              </div>
            </div>
            <div class="form-group">
              <label for="inputGender" class="col-sm-4  ">Gender</label>
              <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
                <select name="gender" id="inputGender" class="form-control input-sm">
                  <option value="">-- Select One --</option>
                  {% if entry[12]=='Male'%}
                  <option value="Male" selected>Male</option>
                  <option value="Female" >Female</option>
                  {% elif entry[12]=='Female'%}
                  <option value="Male" >Male</option>
                  <option value="Female" selected>Female</option>
                  {% else %}
                  <option value="Male" >Male</option>
                  <option value="Female" >Female</option>
                  {% endif %}
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="inputDob" class="col-sm-4  ">Date of Birth</label>
              <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
                <input type="datetime" name="dob" id="datepicker" class="form-control input-sm" value="{{entry[6].strftime('%d/%m/%Y')}}" required="required" title="">
              </div>
            </div>
            <div class="form-group">
              <label for="inputRegistration_number" class="col-sm-4  ">Age</label>
              <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
                <input type="text" readonly name="age" id="age" readonly class="form-control input-sm" value="{{entry[7]}}" required="required" title="Age" >
              </div>
            </div>
            <legend>Contact Details</legend>
            <div class="form-group">
            <label for="inputEmail" class="col-sm-4  ">Email Id</label>
              <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
                <input type="email" name="email" id="inputEmail" class="form-control input-sm" value="{{entry[11]}}" required="required" rel="tooltip" title="Registered email ID" placeholder="Valid email ID">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPhone_number" class="col-sm-4  ">Phone No.</label>
              <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
                <input type="text" name="phone_number" id="inputPhone_number" class="form-control input-sm" value="{{entry[9]}}" required="required" title="">
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmergency_contact" class="col-sm-4  ">Emergency Contact</label>
              <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
                <input type="text" name="emergency_contact" id="inputEmergency_contact" class="form-control input-sm" value="{{entry[19]}}" required="required" title="" placeholder="Parent phone number">
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <legend>Course Details</legend>
            <div class="form-group">
              <label for="inputYearofjoining" class="col-sm-4  ">Year of Joining</label>
              <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
                <input type="text" name="year" id="inputYearofjoining" class="form-control input-sm" value="{{entry[13]}}" required="required"  title="">
              </div>
            </div>
            <div class="form-group">
              <label for="inputCourses" class="col-sm-4  ">Course</label>
              <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
              {%set indxarr=['B. Tech','M. Tech','PhD','MSc.','MCA','MBA','MSc.Tech']%}
              {%set keys=['B.Tech','mtech','phd','msc','mca','mba','Msc.Tech']%}
                <select name="course" id="inputCourse" class="form-control input-sm" >
                  <option value="">-- Select One --</option>
                  {%set k=0%}
                  {%set sel=''%}
                  {% for item in indxarr%}
                  {% if keys[k]==entry[16]%}
                  {%set sel='selected'%}
                  {%else%}
                  {%set sel=''%}
                  {% endif %}
                  <option value="{{keys[k]}}" {{sel}} >{{item}}</option>
                  {%set k=k+1%}
                  {% endfor%}
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="inputBranch" class="col-sm-4  ">Branch</label>
              <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
                <select name="branch" id="inputBranch" class="form-control input-sm">
                  <option value="">-- Select One --</option>
                  {% set branchkey=['civil','eee','mech','ece','meta','che','CSE','biotech','math','phy','chem','humanity','mba'] %}
                  {% set branch=['Civil Engineering','Electrical and Electronics Engineering','Mechnical Engineering','Electronics and Communication Engineering','Metallurgical and Materials Engineering','Chemical Engineering','Computer Science and Engineering','Biotechnology','Mathematics','Physics','Chemistry','Humanities and Social Science','School of Management'] %}
                  {% set sel='' %}
                  {% set k=0 %}
                  {% for item in branch %}
                  {% if branchkey[k] == entry[15] %}
                  {% set sel='selected' %}
                  {% else %}
                  {% set sel='' %}
                  {% endif %}
                  <option value="{{branchkey[k]}}" {{sel}}>{{item}}</option>
                  {%set k=k+1%}
                  {%endfor%}
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="inputBranch" class="col-sm-4  ">Section</label>
              <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
                <select name="section" id="inputSection" class="form-control input-sm">
                  <option value="">-- Select One --</option>
                  {% set sel='' %}
                  {% for item in chars %}
                  {% if item == entry[14] %}
                  {% set sel='selected' %}
                  {% else %}
                  {% set sel='' %}
                  {% endif %}
                  <option value="{{item}}" {{sel}}>{{item}}</option>
                  {% endfor %}       
                </select>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <legend> Hostel Details</legend>
          <div class="form-group">
            <label for="inputHostel" class="col-sm-4  ">Hostel</label>
          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
            <select name="hostel" id="inputHostel" class="form-control input-sm">
              <option value="">-- Select One --</option>
              {% set hostelkey=['day','1','2','3','4','5','6','7','8','9','10','11','12','13','14','1k','1.8k','dasa','ph','sh','lha','lhb','lhc'] %}
              {% set hostels=['Day Scholar','Azad Hall (1st Block)','Bose Hall (2nd Block)','Ambedkar Hall (3rd Block)','Babha Hall  (4th Block)','Gandhi Hall (5th Block)','Gokhale Hall (6th Block)','Radhakrishna Hall (7th Block)','Raman Hall (8th Block)','Nehru Hall (9th Block)','Patel Hall (10th Block)','Tagore Hall (11th Block)','Viswesvraya Hall (12th Block)','Rajendra Prasad Hall (13th Block)','Vikram Sarabhai Hall (14th Block)','1K Hall of Residence ','1.8K Ultra Mega Hall ','International Student Hall ','Priyadarshini Hall (LH-PH) ','Sarojini Hall ','New Ladies Hostel - A (New LH-A) ','New Ladies - B (New LH-B) ','New Ladies Hostel - C (New LH-C)' ] %} 
              {% set sel='' %}
              {% set k=0 %}
              {% for item in hostels %}
              {% if hostelkey[k] == entry[-2] %}
              {% set sel='selected' %}
              {% else %}
              {% set sel='' %}
              {% endif %}
              <option value="{{hostelkey[k]}}" {{sel}}>{{item}}</option>
              {%set k=k+1%}
              {%endfor%}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="inputRoom_number" class="col-sm-4  ">Hostel Room No.</label>
          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
            <input type="text" name="room_number" id="inputRoom_number" class="form-control input-sm" value="{{entry[-1]}}" required="required" title="">
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

<br>
<div class="form-group">
  <div class="col-sm-offset-2 col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
    <button type="submit" id="submit_profile" class="btn btn-block btn-lg btn-success"> Update my profile</button>
  </div>
</div>
</div>
</div>
</form>
</div>
</div>
<br>
<br>
<br>
<br>
</div>
{%else%}
<div class="jumbotron">
<h1>Student? Please Login!</h1>
</div>
{% endif %}
{% endblock %}


