{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
 <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
<h1 style="text-align:center;">Student Profile</h1>
<div class="clearfix visible-xs hidden-print"></div>
<div class="col-xs-1 col-sm-1 col-md-1"></div>
<div class="col-xs-12 col-sm-9 col-md-10">
  <br>
    <form action="{{url_for('studentinfo')}}" method="post"> 
    {% for entry in entries %}
  <div class="form-horizontal" name="form_profile" role="form" >
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <legend>My Profile</legend>
      <div class="form-group">
        <label for="inputName" class="col-sm-4">Full Name</label>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 ">
          <input type="text" name="lname" id="inputName" class="form-control input-sm" value="{{entry[4]}}" required="required"  title="only alphabets" placeholder="Last Name">
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 " style="margin-left:-25px">
          <input type="text" name="fname" id="inputName" class="form-control input-sm" value="{{entry[2]}}" required="required"  title="only alphabets" placeholder="First Name">
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 " style="margin-left:-25px">
          <input type="text" name="mname" id="inputName" class="form-control input-sm" value="{{entry[3]}}" required="required"  title="only alphabets" placeholder="Middle Name">
        </div>
      </div>
      <div class="form-group">
        <label for="inputRegistration_number" class="col-sm-4  ">Registration Number</label>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
          <input type="text" name="registration_number" id="inputRegistration_number" readonly class="form-control input-sm" value="{{entry[1]}}" required="required" title="" placeholder="First year roll number">
        </div>
      </div>
      <div class="form-group">
        <label for="inputRoll_number" class="col-sm-4  ">Roll Number</label>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
          <input type="text" name="roll_number" id="inputRoll_number" class="form-control input-sm" value="{{entry[18]}}" required="required" title="">
        </div>
      </div>
      <div class="form-group">
        <label for="inputGender" class="col-sm-4  ">Gender</label>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
          <select name="gender" id="inputGender" class="form-control input-sm">
            <option value="">-- Select One --</option>
            {% if entry[12]=='Male'%}
            <option value="Male" selected>Male</option>
            <option value="Female" >Female</option>
            {% elif entry[12]=='Female'%}
            <option value="Male" >Male</option>
            <option value="Female" selected>Female</option>
            {% endif %}
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="inputDob" class="col-sm-4  ">Date of Birth</label>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
          <input type="datetime" name="dob" id="inputDob" class="form-control input-sm" value="{{entry[6]}}" required="required" title="">
        </div>
      </div>

    <legend>Contact Details</legend>
    <div class="form-group">
     <label for="inputEmail" class="col-sm-4  ">Email Id</label>
     <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
      <input type="email" name="email" id="inputEmail" class="form-control input-sm" value="{{entry[11]}}" required="required" rel="tooltip" title="Registered email ID" placeholder="Valid email ID">

    </div>
    </div>

  <div class="form-group">
    <label for="inputPhone_number" class="col-sm-4  ">Phone No.</label>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
      <input type="text" name="phone_number" id="inputPhone_number" class="form-control input-sm" value="{{entry[9]}}" required="required" title="">

    </div>
  </div>
  <div class="form-group">
  <label for="inputEmergency_contact" class="col-sm-4  ">Emergency Contact</label>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
     <input type="text" name="emergency_contact" id="inputEmergency_contact" class="form-control input-sm" value="{{entry[9]}}" required="required" title="" placeholder="Parent phone number">
   </div>
 </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
  <legend>Course Details</legend>
  <div class="form-group">
    <label for="inputYearofjoining" class="col-sm-4  ">Year of Joining</label>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
      <input type="text" name="year" id="inputYearofjoining" class="form-control input-sm" value="{{entry[13]}}" required="required"  title="">
    </div>
  </div>
  <div class="form-group">
    <label for="inputCourses" class="col-sm-4  ">Course</label>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
    {%set indxarr=['B. Tech','M. Tech','PhD','MSc.','MCA','MBA','MSc.Tech']%}
    {%set keys=['B.Tech','mtech','phd','msc','mca','mba','Msc.Tech']%}
      <select name="course" id="inputCourse" class="form-control input-sm" >
        <option value="">-- Select One --</option>
        {%set k=0%}
        {%set sel=''%}
        {% for item in indxarr%}
        {% if keys[k]==entry[16]%}
        {%set sel='selected'%}
        {%else%}
        {%set sel=''%}
        {% endif %}
        <option value="{{keys[k]}}" {{sel}} >{{item}}</option>
        {%set k=k+1%}
        {% endfor%}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="inputBranch" class="col-sm-4  ">Branch</label>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
      <select name="branch" id="inputBranch" class="form-control input-sm">
        <option value="">-- Select One --</option>
        {%set branchkey=['civil','eee','mech','ece','meta','che','CSE','biotech','math','phy','chem','humanity','mba']%}
        {%set branch=['Civil Engineering','Electrical and Electronics Engineering','Mechnical Engineering','Electronics and Communication Engineering','Metallurgical and Materials Engineering','Chemical Engineering','Computer Science and Engineering','Biotechnology','Mathematics','Physics','Chemistry','Humanities and Social Science','School of Management']%}
        {%set sel=''%}
        {%set k=0%}
        {%for item in branch%}
        {%if branchkey[k] == entry[15]%}
        {%set sel='selected'%}
        {%else%}
        {%set sel=''%}
        {%endif%}
        <option value="{{branchkey[k]}}" {{sel}}>{{item}}</option>
        {%set k=k+1%}
        {%endfor%}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="inputBranch" class="col-sm-4  ">Section</label>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
     <select name="section" id="inputSection" class="form-control input-sm">
       <option value="">-- Select One --</option>
        {%set sel=''%}
        {%for item in chars%}
        {%if item == entry[14]%}
        {%set sel='selected'%}
        {%else%}
        {%set sel=''%}
        {%endif%}
        <option value="{{item}}" {{sel}}>{{item}}</option>
        {%endfor%}
       
     </select>
   </div>
 </div>
</div>
 <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
  <legend> Hostel Details</legend>
  <div class="form-group">
    <label for="inputHostel" class="col-sm-4  ">Hostel</label>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
     <select name="hostel" id="inputHostel" class="form-control input-sm">
       <option value="">-- Select One --</option>
       <option value="day">Day Scholar</option>
       <option value="1">Azad Hall (1st Block)</option>
       <option value="2">Bose Hall (2nd Block)</option>
       <option value="3">Ambedkar Hall (3rd Block)</option>
       <option value="4">Babha Hall (4th Block)</option>
       <option value="5">Gandhi Hall (5th Block)</option>
       <option value="6">Gokhale Hall (6th Block)</option>
       <option value="7">Radhakrishnan Hall (7th Block)</option>
       <option value="8">Raman Hall (8th Block)</option>
       <option value="9">Nehru Hall (9th Block)</option>
       <option value="10">Patel Hall (10th Block)</option>
       <option value="11">Tagore Hall (11th Block)</option>
       <option value="12">Viswesvraya Hall (12th Block)</option>
       <option value="13">Rajendra Prasad Hall (13th Block)</option>
       <option value="14">Vikram Sarabhai Hall (14th Block)</option>
       <option value="1k">1K Hall of Residence</option>
       <option value="1.8k">1.8K Ultra Mega Hostel</option>
       <option value="dasa">International Student Hall</option>
       <option value="ph">Priyadarshini Hall (LH-PH)</option>
       <option value="sh">Sarojini Hall(LH-SH)</option>
       <option value="lha">New Ladies Hostel - A (New LH-A)</option>
       <option value="lhb">New Ladies Hostel - B (New LH-B)</option>
       <option value="lhc">New Ladies Hostel - C (New LH-C)</option>
     </select>
   </div>
 </div>
 <div class="form-group">
   <label for="inputRoom_number" class="col-sm-4  ">Hostel Room No.</label>
   <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
    <input type="text" name="room_number" id="inputRoom_number" class="form-control input-sm" value="" required="required" title="">
  </div>
</div>
</div>
</div>
</div>
<div class="col-xs-1 col-sm-1 col-md-1"></div>
<br>
<div class="form-group">
  <div class="col-sm-offset-3 col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
    <button type="submit" id="submit_profile" class="btn btn-block btn-lg btn-success"> Update my profile</button>
  </div>
</div>

</form>   
    {% endfor %}
{%else%}
<h1>Student? Please Login!</h1>
{% endif %}
{% endblock %}

